*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: calibri;
    font-size: 1.5 rem;
}

/*Styling Navbar*/
nav{
    background-color: whitesmoke;
    box-shadow: 1px 1px 10px gray;
    position: sticky;
    top: 0;
}
nav>ul{
    display: flex;
    justify-content: center;
}
nav>ul>li{
    list-style-type: none;
    /*margin: 0px 50px;*/
    padding: 15px 30px;
    text-transform: uppercase;
}
nav>ul>li>a{
    text-decoration: none;
    color: darkslategray;
}
.hp-bg{
    background-image: url(./images/ac_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}
section{
    padding: 30px 60px;
}
.left{
    width: 50%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right{
    width: 50%;
    float: right;
    background-color: green;
}
.left,.right{
    padding: 30px;
}